<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.eshop.mapper.CartMapper">

    <!-- 新增商品至購物車 -->
    <insert id="insert"
            parameterType="com.example.eshop.entity.Cart"
            useGeneratedKeys="true" keyProperty="cartId">
  
        INSERT INTO cart
        (
            member_id,
            product_id,
            quantity
        )
        VALUES
        (
            #{memberId},
            #{productId},
            #{quantity}
        );

    </insert>

    <!-- 查詢指定會員的購物車內容 -->
    <select id="findByMemberId"
            parameterType="Long"
            resultType="com.example.eshop.entity.Cart">

        SELECT
            cart.cart_id AS cartId,
            cart.member_id AS memberId,
            cart.product_id AS productId,
            product.product_name AS productName,
            product.product_price AS productPrice,
            product.product_image AS productImage,
            product.product_stock AS productStock,
        cart.quantity AS quantity
        FROM cart
        JOIN product ON cart.product_id = product.product_id

        WHERE cart.member_id = #{memberId};

    </select>

    <!-- 修改指定商品的購買數量 -->
    <update id="updateQuantity">

        UPDATE cart
        SET quantity = #{quantity}
        WHERE member_id = #{memberId}
          AND product_id = #{productId};

    </update>

    <!-- 商品數量 +1 -->
    <update id="increaseQuantity">

        UPDATE cart
        SET quantity = quantity + 1
        WHERE member_id = #{memberId}
          AND product_id = #{productId};

    </update>

    <!-- 商品數量 -1 -->
    <update id="decreaseQuantity">

        UPDATE cart
        SET quantity = quantity - 1
        WHERE member_id = #{memberId}
          AND product_id = #{productId}
          AND quantity > 1;

    </update>

    <!-- 從購物車移除指定商品 -->
    <delete id="deleteCartItem">

        DELETE FROM cart
        WHERE member_id = #{memberId}
          AND product_id = #{productId};

    </delete>

</mapper>